* {
    outline: 1px dotted red;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 970px;
    height: 600px;
    padding: 0px 10px
}

.container img {
    width: 60px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.container h1 {
    width: 165px;
    font-size: 30px;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    color: rgb(71, 71, 71);
    margin-left: 3px;
}

.tblue {
    color: rgb(46, 109, 163);
}

.container h2 {
    height: 36px;
    font-weight: normal;
    background: linear-gradient(rgb(36, 102, 159), rgb(82, 131, 173), rgb(36, 102, 159));
    color: white;
    padding-top: 8px;
    padding-left: 10px;
    margin-top: -10px;
}

.container .nav {
    width: 160px;
    padding-top: 20px;
    display: inline-block;
}

.container .nav h5 {
    font-size: 12px;
    font-weight: bold;
    padding-left: 3px;
}

.tred {
    color: red;
}

.container .nav p {
    font-size: 11px;
    font-weight: bold;
    padding-left: 3px;
    margin-top: 7px;
    margin-bottom: 15px;
}

.container .nav input {
    width: 146px;
    height: 28px;
    margin: 2px 7px 2px 7px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: black;
    box-shadow: 1px 1px 1px 1px rgb(176, 176, 176);
}

.buttonblue {
    background: linear-gradient(rgb(97, 151, 195), rgb(39, 105, 161));
}

.buttonorange {
    background: linear-gradient(rgb(234, 174, 88), rgb(240, 117, 0));
}

.container .nav img {
    width: 160px;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid black;
}

#textninja {
    color: white;
    margin: -215px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}

#ninja {
    width: 60px;
    height: auto;
    display: block;
    margin: 5px auto auto auto;
    padding: 0px;
    border-top: 0px;
}

#buttonninja {
    width: 146px;
    height: 25px;
    background: linear-gradient(rgb(116, 207, 223), rgb(0, 193, 223));
    color: white;
    box-shadow: 1px 1px 1px 1px rgb(22, 40, 61);
    margin-top: 10px;
}

.container .main {
    width: 805px;
    display: inline-block;
    vertical-align: top;
}

.container .main img {
    display: inline-block;
    width: 20px;
    vertical-align: top;
}

.container .main p {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

.container .main .phone {
    display: inline-block;
    width: 50px;
    height: auto;
    margin-top: 7px;
    margin-left: 533px;
    vertical-align: top;
}

.container .main .data {
    width: 150px;
    display: inline-block;
    /* margin-left: 300px; */
    margin-top: 0px;
    vertical-align: top;
    text-align: right;
}

.container .main .data .minletter {
    display: inline-block;
    text-align: right;
    font-size: 10px;
    vertical-align: middle;
    color: rgb(95, 95, 95);
}

.container .main .data .phoneword {
    display: inline-block;
    text-align: right;
    font-size: 24px;
    vertical-align: middle;
    color: rgb(1, 192, 223);
}